<div class="container my-5">
  <h1>Turbo Streams Demo</h1>

  <%= render partial: 'turbo_stream_demos/form', locals: { post: @post } %>

  <%= button_to 'GET PostsController#index',
                posts_path,
                method: :get,
                class: 'btn btn-success',
                form: { data: { controller: 'turbo-form' } },
                data: { 'turbo-form-target': 'submitInput' } %>

  <div id='posts'>
    <%= render @posts %>
  </div>
</div>
